In [30]:
import pandas as pd

In [31]:
import numpy as np

In [71]:
sim3_df = pd.read_csv('C:\SIDATA\SPFB.Si-6.23_230317_230615.csv', sep = ';')

In [72]:
sim3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10663 entries, 0 to 10662
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   <DATE>   10663 non-null  int64
 1   <TIME>   10663 non-null  int64
 2   <OPEN>   10663 non-null  float64
 3   <HIGH>   10663 non-null  float64
 4   <LOW>    10663 non-null  float64
 5   <CLOSE>  10663 non-null  float64
 6   <VOL>    10663 non-null  int64
dtypes: float64(4), int64(3)
memory usage: 583.3 KB

In [73]:
sim3_df.head(100)

      <DATE>  <TIME>   <OPEN>   <HIGH>    <LOW>  <CLOSE>  <VOL>
0   20230317   90000  76330.0  76398.0  76202.0  76267.0  10433
1   20230317   90500  76272.0  76272.0  76130.0  76181.0   7125
2   20230317   91000  76185.0  76293.0  76177.0  76287.0   4153
3   20230317   91500  76287.0  76288.0  76240.0  76250.0   2184
4   20230317   92000  76249.0  76306.0  76230.0  76278.0   3287
..       ...     ...      ...      ...      ...      ...    ...
95  20230317  171000  76923.0  76950.0  76894.0  76899.0   6622
96  20230317  171500  76898.0  76931.0  76884.0  76918.0   6793
97  20230317  172000  76919.0  76933.0  76915.0  76933.0   3004
98  20230317  172500  76933.0  76950.0  76910.0  76920.0   3443
99  20230317  173000  76921.0  76945.0  76909.0  76933.0   3632

[100 rows x 7 columns]

In [74]:
sim3_df['<DATE>'] = pd.to_datetime(sim3_df['<DATE>'], format = '%Y%m%d')

In [75]:
sim3_df['<DATE>'].head()

0   2023-03-17
1   2023-03-17
2   2023-03-17
3   2023-03-17
4   2023-03-17
Name: <DATE>, dtype: datetime64[ns]

In [76]:
def add_zero(value):
    if len(str(value)) == 5:
        return '0' + str(value)
    return str(value)

In [77]:
sim3_df['<TIME>'] = sim3_df['<TIME>'].astype(str).apply(add_zero)

In [78]:
sim3_df['<TIME>'].head()

0    090000
1    090500
2    091000
3    091500
4    092000
Name: <TIME>, dtype: object

In [80]:
sim3_df['<TIME>'] = pd.to_datetime(sim3_df['<TIME>'], format = '%H%M%S').apply(lambda x: x.time())

In [81]:
sim3_df['<TIME>'].head()

0    09:00:00
1    09:05:00
2    09:10:00
3    09:15:00
4    09:20:00
Name: <TIME>, dtype: object

In [82]:
sim3_df.head()

      <DATE>    <TIME>   <OPEN>   <HIGH>    <LOW>  <CLOSE>  <VOL>
0 2023-03-17  09:00:00  76330.0  76398.0  76202.0  76267.0  10433
1 2023-03-17  09:05:00  76272.0  76272.0  76130.0  76181.0   7125
2 2023-03-17  09:10:00  76185.0  76293.0  76177.0  76287.0   4153
3 2023-03-17  09:15:00  76287.0  76288.0  76240.0  76250.0   2184
4 2023-03-17  09:20:00  76249.0  76306.0  76230.0  76278.0   3287

In [84]:
sim3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10663 entries, 0 to 10662
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   <DATE>   10663 non-null  datetime64[ns]
 1   <TIME>   10663 non-null  object
 2   <OPEN>   10663 non-null  float64
 3   <HIGH>   10663 non-null  float64
 4   <LOW>    10663 non-null  float64
 5   <CLOSE>  10663 non-null  float64
 6   <VOL>    10663 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 583.3+ KB

In [86]:
sim3_df['<TIME>'] = pd.to_datetime(sim3_df['<TIME>'], format='%H:%M:%S')

In [93]:
sim3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10663 entries, 0 to 10662
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   <DATE>   10663 non-null  datetime64[ns]
 1   <TIME>   10663 non-null  datetime64[ns]
 2   <OPEN>   10663 non-null  float64
 3   <HIGH>   10663 non-null  float64
 4   <LOW>    10663 non-null  float64
 5   <CLOSE>  10663 non-null  float64
 6   <VOL>    10663 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(1)
memory usage: 583.3 KB

In [97]:
sim3_df['<TIME>'] = pd.to_datetime(sim3_df['<TIME>'], format='%H:%M:%S').dt.time

In [99]:
sim3_df['<DTIME>'] = pd.to_datetime(sim3_df['<DATE>'].astype(str) + ' ' + sim3_df['<TIME>'].astype(str))

In [101]:
sim3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10663 entries, 0 to 10662
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   <DATE>   10663 non-null  datetime64[ns]
 1   <TIME>   10663 non-null  object
 2   <OPEN>   10663 non-null  float64
 3   <HIGH>   10663 non-null  float64
 4   <LOW>    10663 non-null  float64
 5   <CLOSE>  10663 non-null  float64
 6   <VOL>    10663 non-null  int64
 7   <DTIME>  10663 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(1), object(1)
memory usage: 666.6+ KB